body {
    background-color: #f2f2f2;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
#container {
    width: 100%;
    height: 100%;
}

ul.top-menu > li > .logout {
	color: #f2f2f2;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #9c4c9d !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #9c4c9d;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}
i {
    color: white;
}
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #9c4c9d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active {
    background: #9c4c9d;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #E26EAB;
    color: white;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}
.fa-angle-right{
    color: gray;
}
/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    padding-top: 12px;
}

.black-bg {
    background: #424a5d;
    border-bottom: 1px solid #293241;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/* LOGO */
a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 600;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #9c4c9d;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #E26EAB !important;
    background-color: #E26EAB !important;
    border-color: #E26EAB !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white !important;
}
.box1 span  {
    font-size: 40px;
    color: gray;
    margin-top: 15%;
    margin-left: 25%;
}
.box1 h3{
    color: gray;
    margin-left: 25%;
}
.box1{
    border-bottom: 1px solid gray;
}
.ds h3 {
    background-color: purple;
    color: white;
    padding: 8% 8%;
    font-size: 14px;
    text-align: center;
}
.ds {
    background-color: white;
}
.showback {
    background-color: white;
}
.thumb span i {
    color: white;
}
.thumb span {
    background-color: #99ffff;
    margin-left: 8%;
    float: left;
}
.details p {
    margin-left: 22%;
    margin-bottom: 9%;
    font-size: 12px;
}
muted {
    margin-left: 2%;
    text-transform: uppercase;
    font-size: 10px;
}
 .thumb .img-circle {
    float: left;
}
.details {
    border-bottom: 1px solid #E3E3E3;
    margin-top: 8%;
    margin-bottom: 8%;
}
.col-lg-5 h4, .col-lg-5 p{
    color: gray;
}
.fa-plus, .fa-share-alt, .fa-ellipsis-h{
    color: blue;
}
.fa-bars {
    color: white;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}
.showback h4 {
    padding-top: 2%;
    padding-left: 2%;
}
.showback {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
.details {
    margin-bottom: 4px;
}
.box0  {
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
}
.box0:hover {
    color: orange;
    background-color: white;
}

.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
}
.box0 p {
    text-align: center;
    font-size: 10px;
    color: #f2f2f2;
}
.page-header{
    margin-top: 8px;
}

.box0:hover p {
    color: #ff865c;
}

.box0:hover {
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
/*data tables*/
.content-panel {
    background-color: white;
    padding-top: 1%;
    margin-bottom: 3%;
    padding-bottom: 5px;
    padding-left: 9px;
-webkit-box-shadow: 0.5px 2px 3px 3px rgba(201,193,201,1);
-moz-box-shadow: 0.5px 2px 3px 3px rgba(201,193,201,1);
box-shadow: 0.5px 2px 3px 3px rgba(201,193,201,1);
}

@media screen and (max-width : 1200px) {
    .container{
        width: 100%;
    }
}

@media screen and (max-width : 785px) {
    .container{
        width: 100%;
    }
}
@media screen and (max-width : 750px) {
    .container{
        width: 100%;
    }
    .control-label {
        position: relative;
        right: -15%;
    }
}
@media screen and (max-width : 600px) {
    .container{
        width: 100%;
    }
    .box1 {
        padding-left: 25%;
    }
}